server/.idea
server/.idea_modules
server/.settings
server/.sbtserver
server/logs
server/*.iml
server/logs
server/target
server/projectFilesBackup
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.sbtserver
.classpath
.project
/RUNNING_PID
.settings
.target
.cache
bin
.DS_Store
activator-sbt-*-shim.sbt
